/* Main style for articles (e.g. project pages, the about page etc)*/
h1 {
  color: black;
  font-size: 32px;
  font-family: "Press Start 2P", sans-serif;
}

h2 {
  color: black;
  font-size: 24px;
  font-family: "Press Start 2P", sans-serif;
}

h3 {
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: "Press Start 2P", sans-serif;
  margin-top: 40px;
}

h4 {
  color: black;
  font-weight: bold;
  font-size: 12px;
  font-family: "Press Start 2P", sans-serif;
  /* margin-top: 40px; */
}

p {
  color: black;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  text-align: justify;
  /* overflow: visible; */
}

p.secondary {
  font-style: italic;
  color: rgba(100, 100, 100, 0.8);
}

p.mjax {
  overflow-x: auto;
}

ol {
  color: black;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  text-align: justify;
  list-style-type: 1;
  padding-left: 24px;
}

ul {
  color: black;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  text-align: justify;
  list-style-type: disc;
  padding-left: 24px;
}

.PS2P {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

html,
body {
  height: 100%;

  overflow-x: hidden;
  /* -webkit-transition: background-color 10s linear;
  -ms-transition: background-color 10s linear;
  transition: background-color 10s linear; */

  /* background-color: #efe1c5; */
  /* background-color: #f7d7ab; */
  /* background-color: #e0cba4; */

  /* border: 4px solid black; */
}

header {
  position: relative;
  margin: auto;
  display: static;
  height: 170px;

  /* -webkit-transition: background-color 10s linear;
  -ms-transition: background-color 10s linear;
  transition: background-color 10s linear; */

  /* background-color: #d5ecff; */
  /* background-color: #ffb788; */
  /* background-color: #464646; */

  display: flex;
  justify-content: space-between;
  overflow: hidden;

  /* border: 1px solid black; */
}

header > div {
  z-index: 10;
  position: relative;
  display: inline;
  width: auto;
  margin: 36px 36px 18px 36px;
  text-align: center;
}

div.sand:after {
  content: "";
  display: table;
  clear: both;
}

header img.header {
  z-index: 10;
  image-rendering: pixelated;
  transform: translate(-50%, -50%) scale(6);
  margin-left: 58px;
  margin-top: 74px;

  /* border: 1px solid black; */
}

header a.themeTXT {
  display: flex;
  margin-top: 61px;
}

header .stripe {
  z-index: 1;
  position: absolute;
  top: 50px;
  height: 120px;
  width: 100%;
  margin: auto;
  background-image: repeating-linear-gradient(
    rgba(228, 237, 255, 0.6),
    rgb(228, 237, 255, 0.6) 6px,
    rgba(143, 178, 255, 0.6) 6px,
    rgba(143, 178, 255, 0.6) 12px,
    rgba(100, 149, 255, 0.6) 12px,
    rgba(100, 149, 255, 0.6) 18px,
    rgba(78, 134, 255, 0.6) 18px,
    rgba(78, 134, 255, 0.6) 24px,
    rgba(27, 99, 255, 0.6) 24px,
    rgba(27, 99, 255, 0.6) 36px,
    rgba(0, 81, 255, 0.6) 36px,
    rgba(0, 81, 255, 0.6) 48px
  );
  /* background-color: rgb(117, 158, 247); */

  /* border: 2px solid wheat; */
}

img.header:hover {
  opacity: 0.7;
}

a:link {
  color: #445ff6;
  font-style: normal;
  text-decoration: none;
}

a:visited {
  color: #e75858;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  /* color: #445ff6; */
  font-style: normal;
  text-decoration: underline;
}

a:active {
  /* color: #445ff6; */
  font-style: normal;
  text-decoration: none;
}

header a:hover {
  /* color: #445ff6; */
  font-style: normal;
  text-decoration: none;
  opacity: 0.7;
}

main {
  margin-top: 36px;
  margin-left: 8%;
  margin-right: 8%;

  overflow-x: hidden;
  /* border: 2px dashed black; */
}

main a.img {
  display: block;
  margin: 18px auto 18px auto;
  width: 100%;
  max-width: 490px;
}

main img {
  display: block;
  margin: 18px auto 18px auto;
  width: 100%;
  max-width: 490px;

  background: black;
  border: 3px solid black;
}

main video {
  /* z-index: -2; */
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 490px;
}

main .video {
  /* z-index: -3; */
  display: block;
  position: relative;
  margin: 18px auto 18px auto;
  width: 100%;
  max-width: 490px;

  background: black;
  border: 3px solid black;
}

.video .preplay {
  /* z-index: -1; */
  position: absolute;
  left: 50%;
  top: 50%;

  height: 16px;
  width: 16px;

  background: url(/images/PlayPause.png);
  image-rendering: pixelated;
  transform: translate(-50%, -50%) scale(6);
}

.video .playpause {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;

  height: 16px;
  width: 16px;

  background: url(/images/PlayPause.png);
  image-rendering: pixelated;
  transform: translate(-50%, -50%) scale(6);

  cursor: pointer;
  display: none;
}
.video:hover .playpause {
  display: block;
}

.video .progbar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 0;
  margin: 0;

  background: #445ff6;
  opacity: 0.7;
  border-radius: 0;
}

/* Scrolbar style */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(92, 92, 92, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

main iframe {
  display: block;
  margin: 18px auto 18px auto;
  width: 100%;
  max-width: 490px;

  background: black;
  border: 3px solid black;
}

@media screen and (hover: none) and (pointer: coarse) {
  body {
    -moz-transform: scale(0.6, 0.6); /* Moz-browsers */
    zoom: 0.6; /* Other non-webkit browsers */
    zoom: 60%; /* Webkit browsers */
  }
}
