header {
    margin: auto;
    height: 170px;
    position: relative;
    /* -webkit-transition: background-color 10s linear;
    -ms-transition: background-color 10s linear;
    transition: background-color 10s linear; */

    /* background-color: #d5ecff; */
    /* background-color: #ffb788; */
    /* background-color: #464646; */

    /* border: 1px solid black; */
}

header div.headerFlex {
    max-width: 1000px;
    margin: auto;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

header div.left {
    z-index: 10;
    display: inline;
    width: auto;
    margin: 36px 72px 18px 36px;
}

header div.mid {
    z-index: 10;
    width: auto;
    margin-top: 97px;
    text-align: center;
}

div.sand:after {
    content: "";
    display: table;
    clear: both;
}

header img.logoSmall {
    z-index: 10;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    transform: translate(-20%, -50%) scale(6);
    /* margin-left: 58px; */
    margin-top: 74px;

    /* border: 1px solid black; */
}

header a.themeTXT {
    margin-top: 61px;
}

header .stripe {
    z-index: 1;
    position: absolute;
    top: 50px;
    height: 120px;
    width: 100%;
    margin: auto;
    background-image: repeating-linear-gradient(
        rgba(228, 237, 255, 0.6),
        rgb(228, 237, 255, 0.6) 6px,
        rgba(143, 178, 255, 0.6) 6px,
        rgba(143, 178, 255, 0.6) 12px,
        rgba(100, 149, 255, 0.6) 12px,
        rgba(100, 149, 255, 0.6) 18px,
        rgba(78, 134, 255, 0.6) 18px,
        rgba(78, 134, 255, 0.6) 24px,
        rgba(27, 99, 255, 0.6) 24px,
        rgba(27, 99, 255, 0.6) 36px,
        rgba(0, 81, 255, 0.6) 36px,
        rgba(0, 81, 255, 0.6) 48px
    );
    /* background-color: rgb(117, 158, 247); */

    /* border: 2px solid wheat; */
}

img.header:hover {
    opacity: 0.7;
}
